.offcanvas-title {
    font-size: 20px;
    font-family: 'Syncopate';
    color: #d14545;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.menu{
    overflow: hidden;
    font-size: 15px;
    font-family: 'Syncopate';
    color: #6e6e6e;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.menu ul li{
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
}
.menu-item a {
    text-decoration: none;
    color: #6e6e6e;
}
.menu-item a:hover {
    font-weight: bold;
    color: #b43737;
}