.header-container {
    position: relative;
    padding: 50px 17px;
    left: 0;
    z-index: 10;
    width: 20vw;
    border-bottom-right-radius: 50px;
    font-size: 15px;
    font-family: 'Syncopate';
    color: #6e6e6e;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.header-menu{
    overflow: hidden;
}
.header-container ul li{
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
}
.scroll a {
    text-decoration: none;
    color: #6e6e6e;
}
.scroll a:hover {
    font-weight: bold;
    color: #b43737;
}

/* css for small devices (smart phones) */
@media (max-width: 600px) {
    .header-container {
       display: none;
    }
}