@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700;900&display=swap');

/* font families */
    /* font-family: 'Bai Jamjuree', sans-serif; */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Syncopate', sans-serif; */
body {
    font-family: "Poppins", sans-serif;
    cursor:default;
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
}
